################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/src/PublisherWin/.vs
/src/PublisherWin/bin/Debug/net10.0-windows
/src/PublisherWin/Form1.cs
/src/PublisherWin/obj
